<app-assignment2></app-assignment2>
<hr>
<p></p>
<input type="text" class="form-control" (input)="UpdateServer($event)"/>
<p>{{serverState}}</p>
<hr>
<input type="text" 
class="form-control" 
[(ngModel)]="serverState"/>

<button 
[disabled]="(allowServerProcess)"
class="btn btn-primary"
(click)="onServerCreate()">Hello Server</button>
<p [ngStyle]="{'background-color':'green'}" *ngIf="serverCreated;else noServer">Server was created : {{serverState}}</p>
<ng-template #noServer>
  <p [ngClass]="{'offline': serverCreated===false}" [ngStyle]="{backgroundColor:'red'}">Server was not running!</p>
</ng-template>

<hr>
<p>
  Servers :-
</p>
<app-server *ngFor="let server of serverList"></app-server>





