<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Hello Angular</h3>
            <hr>
            <app-assignment3></app-assignment3>
            <!-- <app-servers></app-servers>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>            -->
        </div>
    </div>
</div>


