<button class="btn btn-success" (click)="DisplayBtn_Click($event)" >Display Details</button>

<p></p>

<p [ngClass]="{
  'toggle-red': isBtnClicked,
  'toggle-green':!isBtnClicked
}">{{secretPwd}}</p>

<p *ngFor="let btnLog of BtnClickLogList" 
[ngClass]="{'white': btnLog>4}"
[ngStyle]="{'background-color':(btnLog>4)?'blue':'white'}">
  {{btnLog}}
</p>