<h3>assignment 2</h3><br>
<input type="text" 
class="form-control" 
[(ngModel)]="username"/>

<p>{{username}}</p>

<button 
[disabled]="!(username!='')"
class="btn btn-primary"
(click)="resetUserName()">Reset</button>